{% if site.landing_vertical == false %}

<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-6 text-center mt-4">
	{% for desc in site.description %}
  		<p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ desc }}</p>
	{% endfor %}
  </div>
</div>


{% else %}
<div class="row justify-content-center align-items-center p-4">
	<div class="col-lg-4 col-md-6 text-center mt-4">
	  <!-- Fine Circle Responsive Image -->
	  <div id="container" class="my-2">
		<div id="dummy"></div>
		<div id="element">
		  <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
		</div>
	  </div>
	  {% for desc in site.description %}
	  <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ desc }}</p>
	  {% endfor %}
	</div>
  </div>

{% endif %}
