<nav class="navbar navbar-expand-lg navbar-light">

  <a class="navbar-brand" href="{{ site.baseurl }}/"><h5><b>{{ site.title }}</b></h5></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      {% assign pages = site.html_pages | sort: 'weight' %}
      {% for site_page in pages %}
        {% if site_page.title %}
          {% unless site_page.url contains 'page' or site_page.url contains 'tags' %}
            <a class="nav-item nav-link {% if page.url contains site_page.url %} active {% endif %}" href="{% if site_page.external_url %} {{ site_page.external_url }} {% else %} {{ site_page.url | relative_url }} {% endif %}">{{ site_page.title }}</a>
          {% endunless %}
        {% endif %}
      {% endfor %}
    </div>
  </div>

</nav>