<nav class="navbar navbar-expand-lg navbar-light">

  <a class="navbar-brand" href="{{ site.baseurl }}/"><h5><b>{{ site.title }}</b></h5></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">

      {% assign pages = site.html_pages | sort: 'weight' %}
     
      {% for nav_page in pages %}  

        {% if page.url contains nav_page.url %}
          {% assign active_status = "active" %}
        {% else %}
          {% assign active_status = "" %}
        {% endif %}

        {% if nav_page.external_url %}
          {% assign url = nav_page.external_url %}
        {% else %}
          {% assign url = nav_page.url | relative_url %}
        {% endif %}

        {% unless nav_page.url contains 'page' or nav_page.url contains 'tags' %}
          <a class="nav-item nav-link {{ active_status }}" href="{{ url }}">{{ nav_page.title }}</a>
        {% endunless %}

      {% endfor %}

    </div>
  </div>

</nav>