<div class="row justify-content-center wow animated fadeIn" data-wow-delay=".6s">

  {% if site.author.twitter %}
  <a class="mx-2" href="https://www.twitter.com/{{ site.author.twitter }}">
    <i class="fab fa-lg fa-twitter"></i>
  </a>
  {% endif %}

  {% if site.author.facebook %}
  <a class="mx-2" href="https://www.facebook.com/{{ site.author.facebook }}">
    <i class="fab fa-lg fa-facebook"></i>
  </a>
  {% endif %}

  {% if site.author.email %}
  <a class="mx-2" href="mailto:{{ site.author.email }}">
    <i class="fas fa-lg fa-envelope"></i>
  </a>
  {% endif %}

  {% if site.author.github %}
  <a class="mx-2" href="https://www.github.com/{{ site.author.github }}">
    <i class="fab fa-lg fa-github"></i>
  </a>
  {% endif %}

  {% if site.author.linkedin %}
  <a class="mx-2" href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
    <i class="fab fa-lg fa-linkedin-in"></i>
  </a>
  {% endif %}

</div>