<div class="container-fluid justify-content-center">

  {% if site.author.twitter %}
  <a class="social twitter mx-1" href="https://www.twitter.com/{{ site.author.twitter }}">
    <i class="fab fa-1x fa-twitter"></i>
  </a>
  {% endif %}

  {% if site.author.facebook %}
  <a class="social facebook mx-1" href="https://www.facebook.com/{{ site.author.facebook }}">
    <i class="fab fa-1x fa-facebook"></i>
  </a>
  {% endif %}

  {% if site.author.email %}
  <a class="social email mx-1" href="mailto:{{ site.author.email }}">
    <i class="fas fa-1x fa-envelope"></i>
  </a>
  {% endif %}

  {% if site.author.github %}
  <a class="social github mx-1" href="https://www.github.com/{{ site.author.github }}">
    <i class="fab fa-1x fa-github"></i>
  </a>
  {% endif %}

  {% if site.author.linkedin %}
  <a class="social linkedin mx-1" href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
    <i class="fab fa-1x fa-linkedin-in"></i>
  </a>
  {% endif %}

</div>