.article.card {
    border-radius: $rounded-borders;
    text-decoration: none!important;
    padding: 15px;
    height: 100%;
    
    .card-footer {
        font-size: 14px;
        margin: -15px;
        padding: 15px 35px;
    }
}