.social {
  text-decoration: none !important;
}
.github-footer {
  font-size: 10px;
  color: #6c757d;
  text-decoration: underline;
  text-decoration-color: yellow;
  text-align: right;
  margin-top: 4em;
  margin-right: 2em;
}
