.skill {
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;

  &:before {
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: $light;
    bottom: 0;
  }
}

.skill-bar {
  width: 100%;
  height: 5px;
  background: $primary;
  display: block;
  position: relative;
}

.skill-bar.skill-bar-secondary {
  background: $secondary;
}

.skill-bar.skill-bar-success {
  background: $success;
}

.skill-bar.skill-bar-info {
  background: $info;
}

.skill-bar.skill-bar-warning {
  background: $warning;
}

.skill-bar.skill-bar-danger {
  background: $danger;
}

.skill-bar.skill-bar-light {
  background: $light;
}

.skill-bar.skill-bar-dark {
  background: $dark;
}

@for $i from 0 through 100 {
  .skill-#{$i} {
    width: percentage($i/100);
  }
}
