.skill-bar {
  $width: 100%;
  $height: 5px;

  position: relative;
  overflow: hidden;

  &:before {
    width: $width;
    height: $height;
    position: absolute;
    content: "";
    bottom: 0;
  }

  .progress {
    width: $width;
    height: $height;
    position: relative;
  }
}
