$primary:   #6663b5;
$secondary: #6c757d;
$success:   #7def98;
$info:      #60d2e3;
$warning:   #f5d472;
$danger:    #e8564b;
$light:     #f8f9fa;
$dark:      #343a40;


$text-black: #343a40;
$text-white: rgba(white, .9);

$rounded-borders: 15px;
