<div class="mx-auto my-3">

  {%- if paginator.previous_page -%}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="badge badge-primary"><</a>
  {%- else -%}
    <span class="badge badge-light text-muted"><</span>
  {%- endif -%}

  <small class="mx-2"> Page <b>{{ paginator.page }}</b> of {{ paginator.total_pages }} </small>

  {%- if paginator.next_page -%}
    <a href="{{ paginator.next_page_path | relative_url }}" class="badge badge-primary">></a>
  {%- else -%}
    <span class="badge badge-light text-muted">></span>
  {%- endif -%}

</div>