<div class="wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ people_url }}" class="project card text-themed" {%- if external and site.open_new_tab -%} target="_blank" {%- endif -%}>
    {%- if people_img -%}
    <img id="{{ people_id }}-img" class="card-img-top" src="{{ people_img }}" alt="{{ people_name }}" />
    {%- endif -%}
    <div class="card-body">
      
    <p id="{{ people_id }}-tags" class="card-text">

        {% for tag in publication.tags %}
        <span class="badge fill">{{ tag }}</span>
        {% endfor %}

    </p>

    <h4 id="{{ people_id }}-name" class="card-text">
      {{ people_name }}
    </h4>
    </div>
  </a>
</div>
