---
---

body {
    background-color: #f4f3ef !important;
}

#attribution {
    visibility: hidden !important;
}

#companies-div {
    width: 100% !important;
    align-content: center !important;
    overflow: hidden !important;
}

#companies {
    max-width: 60vw !important;
}

@import "portfolYOU";