---
---
@import "portfolYOU";

.text-primary { color: $primary!important; }
.border-primary { border-color: $primary!important; }
.bg-primary { background-color: $primary!important; }

a {color:$primary;}

.btn-outline-primary { color: #fff; background-color: $primary; border-color: $primary; }
.btn-outline-primary:not(:disabled):not(.disabled):active { color: #fff; background-color: lighten($primary, 10%); border-color: lighten($primary, 10%); }
.btn-outline-primary:hover { color: #fff; background-color: lighten($primary, 10%); border-color: lighten($primary, 10%); }

.badge-primary { color: #fff; background-color: $primary; }
a.bg-primary:hover {
    background-color: darken($primary, 10%)!important;
}
.form-control:focus{
    border-color: $primary!important;
}

.carousel-indicators {
    bottom:1em;
    z-index:5;
}
