{%- assign images = carousel_images | strip | newline_to_br | split: '<br />' -%}
{% if include.id %}
  {% assign carousel_id = include.id %}
{% else %}
  {% assign carousel_id = 1 %}
{% endif %}

<div id="carousel{{carousel_id}}" class="carousel slide" data-ride="false">

  <ol class="carousel-indicators">
    {% for image in images %}
        {%- if forloop.first -%}
          <li data-target="#carousel{{carousel_id}}" data-slide-to="{{forloop.index0}}" class="active"></li>
        {%- else -%}
          <li data-target="#carousel{{carousel_id}}" data-slide-to="{{forloop.index0}}"></li>
        {%- endif -%}
    {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for image in images %}
      {%- if forloop.first -%}
        <div class="carousel-item active">
          <img src="{{ image }}" class="d-block w-100" 
          style="aspect-ratio:16/9; overflow:hidden; object-fit: cover;">
        </div>
      {%- else -%}
        <div class="carousel-item">
          <img src="{{ image }}" class="d-block w-100"
          style="aspect-ratio:16/9; overflow:hidden; object-fit: cover;">
        </div>
      {%- endif -%}
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#carousel{{carousel_id}}" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carousel{{carousel_id}}" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

