<div class="row justify-content-center align-items-center p-4">
    <div class="col-lg-4 col-md-6 text-center mt-4">
  
      <!-- Fine Circle Responsive Image -->
      <div id="container" class="my-2">
        <div id="dummy"></div>
        <div id="element">
          <img src="{{ include.image }}" alt="{{ include.name }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
        </div>
      </div>
  
      <p class="py-5 text-muted wow animated slideInUp" data-wow-delay=".15s">{{ include.name  }}</p>
  
    </div>
  </div>
