
<div id="carouselExampleIndicators" class="carousel slide" data-ride="false">

  <ol class="carousel-indicators">
    {% for item in carousel_items %}
        {%- if forloop.first -%}
          <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.index0}}" class="active"></li>
        {%- else -%}
          <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.index0}}"></li>
        {%- endif -%}
    {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for item in carousel_items %}
      {%- if forloop.first -%}
        <div class="carousel-item active">
            <a href="{{item.url}}">
          <img src="{{ item.image }}" class="d-block w-100" 
          style="aspect-ratio:16/9; overflow:hidden; object-fit: cover;">
          
            </a>
            <h6 class="card-text small" 
            style="position: absolute; bottom: 8px; left: 16px;"> 
            {{item.description}}
              </h6>
        </div>
      {%- else -%}
        <div class="carousel-item">
            <a href="{{item.url}}">
          <img src="{{ item.image }}" href="{{item.url}}" class="d-block w-100"
          style="aspect-ratio:16/9; overflow:hidden; object-fit: cover;">
          </a>
          <h6 class="card-text small" 
          style="position: absolute; bottom: 8px; left: 16px;"> 
          {{item.description}}
          </h6>
          
        </div>
      {%- endif -%}
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>

