---
layout: default
permalink: /about/

# visit https://getbootstrap.com/docs/4.1/utilities/colors/#background-color
# to know available colors (white and transparent aren't included)
# default color is blue (primary)

programming-skills:

    - name: HTML5
      percentage: 90
      color: danger

    - name: CSS3
      percentage: 80
      color:

    - name: Sass
      percentage: 70
      color: dark


other-skills:

    - name: Adobe Photoshop
      percentage: 95
      color: info
  
    - name: Adobe Illustrator
      percentage: 90
      color: success

timeline:

    - title: Title for section 1
      from: 2016
      to: 2018
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                   nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                   reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

    - title: Title for section 2
      from: 2018
      to: present
      description: Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                   sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                   nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                   reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

---

<div class="row justify-content-center m-3 mt-5">

	<!-- Programming Skills -->
    <div class="col-lg-5 m-2">
        <h2 class="mb-3">Programming Skills</h2>
        {% for skill in page.programming-skills %}
        <div class="skill">
            <p>{{ skill.name }}</p>
            <div class="skill-bar skill-bar-{{ skill.color }} skill-{{ skill.percentage }} wow animated slideInLeft"
                 data-wow-delay="{{ forloop.index | divided_by: 20.0 }}">
                <span>{{ skill.percentage }}%</span>
            </div>
        </div>
        {% endfor %}
    </div>

	<!-- Other Skills -->
    <div class="col-lg-5 m-2">
        <h2 class="mb-3">Other Skills</h2>
        {% for skill in page.other-skills %}
        <div class="skill">
            <p>{{ skill.name }}</p>
            <div class="skill-bar skill-bar-{{ skill.color }} skill-{{ skill.percentage }} wow animated slideInLeft"
                 data-wow-delay="{{ forloop.index | divided_by: 20.0 }}">
                <span>{{ skill.percentage }}%</span>
            </div>
        </div>
        {% endfor %}
    </div>


	<!-- TimeLine -->
    <div class="col-lg-10 m-2">
		<div class="timeline-body">

        {% for item in page.timeline %}
			<div class="timeline-item">
				<div class="content">
					<h2>{{ item.title }}</h2>
					<h6 class="date">{{ item.from }} — {{ item.to }}</h6>
					<p>{{ item.description }}</p>
				</div>
            </div>
        {% endfor %}

		</div>
    </div>

</div>