<div class="col-lg">
  <h2 class="mb-3">{{ include.title }}</h2>
  {% for skill in include.source %}
  <div class="skill">
    <div class="row justify-content-between align-items-center">
      <div class="col-10">
        <p class="mb-1">{{ skill.name }}</p>
      </div>
      <div class="col-2 text-right">
        <p class="mb-1 text-muted">{{ skill.percentage }}%</p>
      </div>
    </div>
    <div class="skill-bar skill-bar-{{ skill.color }} skill-{{ skill.percentage }} wow animated slideInLeft"
      data-wow-delay="{{ forloop.index | divided_by: 20.0 }}">
    </div>
  </div>
  {% endfor %}
</div>