---
layout: page
---


<h1><b>{{ page.name }}</b></h1>
<h3><b>{{ page.alias }}</b></h3>
<p class="post-metadata text-muted">
  {{ page.year }} -  
  <b>
  {%- assign words = content | number_of_words -%}
  {%- if words < 360 -%}
    less than 1 min read time
  {%- else -%}
    {{ words | divided_by: 180 }} mins read time
  {%- endif -%}
  </b>

  <br>

  {%- if page.tags != empty -%}
    Tags: 
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/projects/tags#' | relative_url }}">
      <span class="badge badge-pill text-primary border border-primary ml-1">{{ tag }}</span>

    </a>
    {% endfor %}
  {%- endif -%}

</p>

{{ content }}