---
layout: page
---

<h1><b>{{ page.title }}</b></h1>
<h3><b>{{ page.subtitle }}</b></h3>
<p class="post-metadata text-muted">
  {{ page.date | date_to_long_string }} -  
  <b>
  {%- assign words = content | number_of_words -%}
  {%- if words < 360 -%}
    less than 1 min read time
  {%- else -%}
    {{ words | divided_by: 180 }} mins read time
  {%- endif -%}
  </b>

  <br>

  {% if page.authors != empty %}
    Authors: 
    {% for people in page.authors %} 
      {% assign p = false %}
      {% for item in site.data.people %}
        {% if item.name == people %}
          {% assign p = item %}  
        {% endif %}
      {% endfor %}
    
      {%- if forloop.first -%}
      {% else %}
      , 
      {% endif %}
      {% if p %}
        <a href="/people/{{p.page}}">{{p.name}}</a>
      {% else %}
        {{people}}
      {% endif %}
    {% endfor%}
  {% endif%}
  <br>
  {%- if page.tags != empty -%}
    Tags: 
    {% for tag in page.tags %}
    <a class="text-decoration-none no-underline" href="{{ tag | slugify | prepend:'/publication/tags#' | relative_url }}">
      <span class="badge badge-pill text-primary border border-primary ml-1">{{ tag }}</span>

    </a>
    {% endfor %}
  {%- endif -%}

</p>

{{ content }}

